{% extends 'master_lam.html' %}
{% load static %}
{% block style%}

.general{
  margin: 7em 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thecontainer{
  padding: 30px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);   
}
.content1{
  padding: 15px 30px;
}
.thecontainer img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
.low-image{
  display: inline-block;
  position: relative;
}
#fullImage {
  filter: blur(0px);
}
.mask{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
/*  cursor: pointer; */
  filter: drop-shadow(-5px 10px 5px black);
}
.showMask{
  visibility: visible;
}
.content2{
  background-color: #f1f1f1;
  overflow: hidden;
  border-radius: 16px;
  transition: max-height 0.2s ease-out;
}
.content2 form{
  padding: 20px;
}
.content2 label{
  padding: 5px;
  display: inline-block;
}
.show{display: block;}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
    min-width: 310px;
}

{% endblock style%}
{% block content%}

<div class="general">
    <div class="thecontainer container-lg d-inline-flex flex-wrap">
      <div class="col-5 content1">
        <h2>{{lamina.nome_lamina}}</h2>
        <ul>
          <li>Lâmina: {{lamina.montagem}}</li>
          <li>Corte: {{lamina.corte}}</li>
          <li>Aumento: {{lamina.aumento}}</li>
          <li>Coloração: {{lamina.coloracao}}</li>
        </ul>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Menu de estruturas
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
              <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggle()">
                  <label class="form-check-label" for="flexSwitchCheckDefault"><strong>Desfoque</strong></label>
                </div>
                  <form action="" id="dropdownfn" class="form-check">
                    {% for estruturas in lamina.estruturas_set.all %}
                    <input class="form-check-input" type="checkbox" id="{{estruturas.id}}_check" name="fav_language" value="HTML"
                        onclick="check('{{estruturas.id}}')"><label for="html"><a href="#"></a>{{estruturas.nome_estrutura}}</label><br>
                    {% endfor %}
                  </form>
                    </div>
                </div>
              </div>
        </div>
      </div>
        <div class="content2">
                <div class="low-image">
                    <!--fullImage-->
                    <img src="{{lamina.imagem_completa.url}}" width="700" usemap="#map" id="fullImage">
                    <!--Mask-->
                    {% for estruturas in lamina.estruturas_set.all %}
                    <!--<a href="{{lamina.link}}">-->
                       <img class="mask" id="{{estruturas.id}}" src="{{estruturas.mascara.url}}" width="700" alt="{{estruturas.nome_estrutura}}">
                    <!--</a>-->
                    {% endfor %}
            </div>
            <!--Image map 
            <div class="imagemap">
                <map name="map">
                  <area shape="poly" coords="" href="" alt="">
                  <area shape="poly" coords="" href="" alt="">
                  <area shape="poly" coords="" href="" alt="">
                  <area shape="poly" coords="" href="" alt="">
                  <area shape="poly" coords="" href="" alt="">
                  <area shape="poly" coords="" href="" alt="">
                </map>
              </div>-->
            </div>
        </div>
      </div>
    </div>
<script>//Checkbox
    function check(id) {
        var checkBox = document.getElementById(id + "_check");
        var mask = document.getElementById(id);
        const element = document.querySelector('.mask');
        if (checkBox.checked == true) {
        mask.style.visibility = "visible";
        } else {
        mask.style.visibility = "hidden";
        }
    }
  </script>
<script>
    function toggle() {
        var checkBox = document.getElementById("flexSwitchCheckDefault");
        if (checkBox.checked == true) {
        document.getElementById("fullImage").style.filter = 'blur(3px)';
        mask.classList.add('animate__animated', 'animate__tada');
        } else {
        document.getElementById("fullImage").style.filter = 'blur(0px)';
        }
    }
</script>
{% endblock content%}
